body{
  background-color: #e3a73b;
}

.plateau{
    display: block;
    position: center;
}



.case{
    position: relative;
    width:60px;
	  height:30px;
	  /*background:#fafafa;*/
	  box-shadow:2px 2px 8px #aaa;
	  font:bold 13px Arial;
	  color:#555;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.block{
    position: relative;
    width:60px;
	  height:60px;
	  /*background:#fafafa;*/
	  box-shadow:2px 2px 8px #aaa;
	  font:bold 13px Arial;
	  border-radius:50%;
	  color:#555;

}
